<!DOCTYPE html>
<html lang="en">

    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>  
        <script scr="/socket.io/socket.io.js"></script>       
        <title>
            {{ session.current_channel }}
        </title>
    </head>

    <body>
      {% if session.username %} 
        <a id="newChannel" class="nav-link" href="/"> Create new channel</a>        
            Channels :
            <br><br>
            {% for channel in channels %}
                <a href="/channels/{{ channel }}">{{ channel }}</a>
            {% endfor %}
            <br><br>
            WELCOME, {{ session.username}}
            <br><br><br>
            <a id="logout"href="/logout">Logout</a>               
        {% endif %}
                           
        {{ session.current_channel }}
        <br><br><br>

        <div id="chat-box" class="list-group">
            {#
                http://jinja.pocoo.org/docs/2.10/templates/#whitespace-control
                
                Minus(-) used to strip all the whitespace 
                Only if there are messages, render it.
            #}
            <!--<textarea id="chat" cols="100" rows="20" readonly>
                {%- if messages -%} 
                    {%- for message in messages -%}
                        {{ message[0] }} - [{{ message[1] }}]: {{ message [2] }} {{'\n'}}
                    {%- endfor -%}
                    {{ '----- These are old messages -----' }}{{- '\n' -}}
                {%- endif -%}
            </textarea>-->
            <ul id="chat">
                {%- if messages -%} 
                    {%- for message in messages -%}
                        {{ message[0] }} - [{{ message[1] }}]: {{ message [2] }} {{'\n'}}
                    {%- endfor -%}
                    {{ '----- These are old messages -----' }}{{- '\n' -}}
                {%- endif -%}
            </ul>
        </div>
                    
        <div id="message-box">                
            <input id="comment" size="50" autocomplete="off" autofocus>       
            <button id="send-button" type="reset">Send</button>
            <button id="leave" type="button">Leave channel</button>
        </div>
        <script type="text/javascript" src="../static/channel.js"></script>
    </body>

</html>




