<!DOCTYPE html>
<html lang="en">

    <head>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>       
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">         
        <title>
            flatroom
        </title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <span class="heading">
                    <span id="c1">f</span><span id="c2">l</span><span id="c3">a</span><span id="c4">t</span><span id="c5">r</span><span id="c6">o</span><span id="c7">o</span><span id="c8">m</span>
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
        {% if alert == 1: %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            This display name already exists!! Try another one..
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% if session.username %}
        <a id="newChannel" class="nav-link" href="/"> Create new channel</a>
        
        Channels :
        <br><br>
        {% for channel in channels %}
            <a href="/channels/{{ channel }}">{{ channel }}</a>
        {% endfor %}
        <br><br>
        WELCOME, {{ session.username}}
        <br><br><br>
        <a id="logout"href="/logout">Logout</a>               
    {% endif %}
    <br><br><br>
    <div class="container-fluid">
        <div class="row">
          <div class="col-xl">
            <h4>Enter your display name...</h4>
            <br><br>
            <form action="/login" method="POST">
                <input type="text" id="username" name="username" autofocus>
                <br><br>
                <button type="submit" type="button" class="btn btn-primary" id="firstbutton">LOGIN</button>
            </form>
          </div>
        </div>
    </div>        
    {% elif alert == 2: %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Please enter valid display name
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% if session.username %}
    <a id="newChannel" class="nav-link" href="/"> Create new channel</a>
    
    Channels :
    <br><br>
    {% for channel in channels %}
        <a href="/channels/{{ channel }}">{{ channel }}</a>
    {% endfor %}
    <br><br>
    WELCOME, {{ session.username}}
    <br><br><br>
    <a id="logout"href="/logout">Logout</a>               
{% endif %}
<br><br><br>
<div class="container-fluid">
    <div class="row">
      <div class="col-xl">
        <h4>Enter your display name...</h4>
        <br><br>
        <form action="/login" method="POST">
            <input type="text" id="username" name="username" autofocus>
            <br><br>
            <button type="submit" type="button" class="btn btn-primary" id="firstbutton">LOGIN</button>
        </form>
      </div>
    </div>
</div>
        {% else: %}
        {% if session.username %}
        <a id="newChannel" class="nav-link" href="/"> Create new channel</a>
        
        Channels :
        <br><br>
        {% for channel in channels %}
            <a href="/channels/{{ channel }}">{{ channel }}</a>
        {% endfor %}
        <br><br>
        WELCOME, {{ session.username}}
        <br><br><br>
        <a id="logout"href="/logout">Logout</a>               
    {% endif %}
    <br><br><br>
    <div class="container-fluid">
        <div class="row">
          <div class="col-xl">
            <h4>Enter your display name...</h4>
            <br><br>
            <form action="/login" method="POST">
                <input type="text" id="username" name="username" autofocus>
                <br><br>
                <button type="submit" type="button" class="btn btn-primary" id="firstbutton">LOGIN</button>
            </form>
          </div>
        </div>
    </div>        
        {% endif %}  
         
            
    </body>

</html>






